.about-hero-section {
    background-image: url("../../assets/illustrations/AboutHeroBG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 40px;
}

.about-hero-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
}

.about-hero-content {
    padding: 60px;
}

.about-hero-small {
    color: #555;
    margin-bottom: 12px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.about-hero-title {
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
}
.about-hero-title-1{
 font-weight: 700;
 font-size: 48px;
 color:rgb(59, 59, 59);
}

.about-hero-title span {
    color: #ffc107;
}

.about-hero-social {
    position: absolute;
    bottom: 20%;
    left: 35%;
    display: flex;
    gap: 14px;
    background: #ffffff;
    padding: 12px 12px;
    border-radius: 16px;
    width: fit-content;
}

.about-hero-social img {
    width: 52px;
    height: 52px;
    background: #ddd;
    border-radius: 10px;
}


.about-hero-image {
    position: relative;
}

.about-hero-image img {
    height: 100vh;
}

.about-hero-follow {
    position: absolute;
    right: -40%;
    bottom: 20%;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 30px;
    font-weight: 500;
    color: #222;
    flex-direction: column;
}

.about-hero-arrow {
    width: 130px;
    height: 130px;
    object-position: center;

}

.about-hero-arrow img {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1200px) {
    .about-hero-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .about-hero-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .about-hero-content {
        padding: 10px;
        padding-top: 60px;
        text-align: center;
        width: 100%;
    }

    .about-hero-title {
        font-size: 40px;
    }

    .about-hero-image img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }

    .about-hero-follow {
        position: static;
        margin-top: 20px;
        justify-content: center;
    }

    .about-hero-arrow {
        display: none;
    }

    .about-hero-follow {
        display: none;
    }

    .about-hero-social {
        position: static;
    }
}