.wmd-section {
    width: 100%;
    background-color: #fff8ec;
    padding: 10px 80px;
    font-family: "Inter", sans-serif;
}

.wmd-container {

    margin: 0 auto;
}


.wmd-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #111;
    position: relative;
    margin-bottom: 60px;
}

.wmd-title::after {
    content: "";
    width: 200px;
    height: 4px;
    background-color: #f6c445;
    display: block;
    margin: 4px auto 0;
    border-radius: 4px;
}

.wmd-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    padding: 0px 40px;
    margin-bottom: 28px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    border: 2px solid rgb(211, 209, 209);
}

.wmd-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.wmd-content h3 {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 12px;
}

.wmd-content p {
    font-size: 24px;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: 14px;
}

.wmd-tags {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    position: relative;
}

.wmd-tag {
    background: rgba(250, 240, 240, 0.75);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 6px rgb(230, 228, 228);
}


.wmd-image {

    height: 360px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wmd-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wmd-design {
    background: linear-gradient(120deg,
            #fff6f3 0%,
            #fcdbba 50%,
            #ffc68a 100%);
}

.wmd-design h3 {
    color: #ff7a00;
}

.wmd-promise {
    background: linear-gradient(120deg,
            #fcf8fb 0%,
            #f8c6ed 50%,
            #eaa0df 100%);
    color: #e044b5;

}

.wmd-promise h3 {
    color: #e044b5;
}

.wmd-premium {
    background: linear-gradient(120deg,
            #f9fcf9 0%,
            #b4e9bc 50%,
            #93e99e 100%);
    color: #2f9e44;
}

.wmd-premium h3 {
    color: #2f9e44;
}

.wmd-support {
    background: linear-gradient(120deg,
            #f9f9fd 0%,
            #b7b8eb 50%,
            #9297f5 100%);
    color: #3f46e1;
}

.wmd-support h3 {
    color: #3f46e1;
}

.wmd-support-btn {
    background: rgb(239, 238, 253);
    color: rgb(53, 52, 52);
    border-radius: 15px;
    padding: 16px 28px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 50px;
    border: 1px solid rgb(197, 195, 195);
    transition: all ease-in 0.1s;
}

.wmd-support-btn:hover {
    box-shadow: 2px 2px 4px rgb(80, 146, 64);
    transform: translateY(-2px);
}

.wmd-support-btn img {
    height: 40px;
}

.wmd-support .wmd-content span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    font-size: 28px;
    font-weight: 700;
    background-color: rgb(234, 242, 250);
    color: rgb(37, 37, 37);
    margin-left: 80px;
}

@media (max-width: 900px) {
    .wmd-card {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 0px 4px;
    }

    .wmd-content {
        max-width: 100%;
         padding-top: 20px;
    }
    .wmd-content h3 {
    font-size: 30px;
    }

    .wmd-image {
        width: 100%;
        height: auto
    }

    .wmd-tags {
        justify-content: center;
    }

    .wmd-tag {
        font-size: 14px;
        height: 70px;
        width: 70px;
    }

    .wmd-title {
        font-size: 18px;
    }

    .wmd-section {
        padding: 10px 6px;

    }

    .wmd-content p {
        font-size: 22px;
    }

    .wmd-support .wmd-content span {
        display: flex;
        margin-top: 20px;
    }

}