.header {
  background-color: #fff;
  padding: 2px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  z-index: 500;
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 20px;
  font-weight: 400;
}


.header-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn-icon-whatsapp {
    background-color: #dafcdb;
    color: black;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-icon-call {
    background-color: #f5d29d;
    color: black;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
      display: flex;
    justify-content: center;
    align-items: center;
}
.btn-icon-call,.btn-icon-whatsapp{
  padding: 8px 10px;
  column-gap: 10px;
}

.btn-icon-call img ,.btn-icon-whatsapp img{
  height: 25px;
}


.btn-login {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all background-color ease-in 0.2s;
}
.btn-login:hover{
  background-color: rgb(27, 27, 27);
  color:white;
 
}

.btn-signup {
  background-color: #f4c430;
  color: #333;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-signup:hover {
  background-color: #e6b82e;
}



.header-social {
    display: flex;
    gap: 4px;
    padding: 2px 4px;
    border-radius: 8px;
    width: fit-content;
    
}

.header-social img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
     background-color: #f5fcf5;
}
@media (max-width: 1024px) {
  .nav{
    display: none;
  }
  .header-actions{
    display: none;
  }
  .header{
    padding: 0px;
  }
  .header-container{
    padding: 0px 10px;
  }
  .slidebar-buttons{
    display:block
  }
  .slidebar-cont{
    display: block;
  }
}