.ad-footer {
  background: #ffffff;
  padding: 10px 60px;
}

.ad-footer-container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  gap: 60px;
}

.ad-footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffbe2;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 10px 0px;
}

.ad-footer-logo img {
  height: 60px;
  transform: rotate(-20deg);
}

.ad-footer-logo-text span {
  font-weight: bold;
  font-size: 40px;
}

.ad-footer-logo-text-1 {
  color: black;
}

.ad-footer-logo-text-2 {
  color: rgb(253, 205, 74);
}


.ad-footer-store {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 25px 0;
}



.ad-footer-follow-text {
  font-weight: 600;
  margin-bottom: 10px;
}


.ad-footer-block {
  margin-top: 30px;
}

.ad-footer-block h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.ad-footer-block p {
  color: #555;
  line-height: 1.6;
}

.ad-footer-links h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.ad-footer-links ul {
  list-style: none;
  padding: 0;
}

.ad-footer-links li {
  font-size: 17px;
  font-weight: 500;
  color: #777676;
  margin-bottom: 14px;
  cursor: pointer;
}

.ad-footer-links li:hover {
  color: #000;
  text-decoration: underline;
}

.bf-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.bf-img img {
  width: 65%;
}


@media (max-width: 1000px) {
  .ad-footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .ad-footer {
    padding: 50px 20px;
  }

  .ad-footer-logo img {
    height: 40px;
  }

  .ad-footer-logo-text span {
    font-size: 20px;
  }

  .ad-footer-links li {
    font-size: 15px;
  }

  .ad-footer-links h3 {
    font-size: 18px;
  }

  /* .ad-footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  } */
  .bf-img {
    padding-bottom: 4px;
  }

  .bf-img img {
    width: 90%;
  }


}