.call-to-action {
  padding: 4rem 2rem;
  background-color: #fff;
}

.cta-container {
  max-width: 1400px;
  margin: 0 auto;
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}


.cta-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-call-action {
  background-color:rgb(255, 231, 224);
  color: #0e0101;
  border: none;
  padding: 4px 15px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* transition: all ease-in 0.1s; */
}

.btn-call-action:hover {
  transform: translateY(-4px);
  box-shadow: 0 2px 8px rgb(71, 71, 71);
}

.btn-whatsapp-action {
  background-color: #c0f5c2;
  color: rgb(7, 1, 1);
  border: none;
  padding: 4px 33px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* transition: all ease-in 0.1s; */
}

.btn-whatsapp-action:hover {
   transform: translateY(-4px);
  box-shadow: 0 2px 8px rgb(71, 71, 71);
}


.btn-icon img{
  height: 40px;
}

@media (max-width: 768px) {
  .cta-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .cta-buttons {
    justify-content: center;
  }
}