.industries-section {
  padding: 80px 20px;
  background: #fffaf1;
  text-align: center;
}

.industries-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.industries-subtitle {
  color: #555;
  margin-bottom: 60px;
}

.industries-wrapper {
  position: relative;
  width: 630px;
  height: 600px;
  margin: 0 auto;
  overflow: visible;
}

.center-circle {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 1px 1px 4px rgb(87, 86, 86);
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all ease-in 0.1s; */
}

.center-circle:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 4px rgb(87, 86, 86);
}

.center-inner {
  width: 100%;
  border-radius: 50%;
  background: #ddd;
}

.industry-card {
  position: absolute;
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #ffb703;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: box-shadow 0.2s ease-in, transform 0.3s ease; */
  cursor: pointer;
}

/* .industry-card:hover {
  box-shadow: 3px 2px 6px rgb(61, 61, 61);
  z-index: 5;
} */

.card-inner {
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.industry-card:hover .card-inner {
  transform: translateY(-2px);

}

.industry-icon-box {
  width: 60%;
}

.industry-card h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}

.industry-card p {
  font-size: 12px;
  color: #666;
}

.top {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.top-left {
  top: 40px;
  left: 40px;
}

.top-right {
  top: 40px;
  right: 40px;
}

.bottom-left {
  bottom: 40px;
  left: 40px;
}

.bottom-right {
  bottom: 40px;
  right: 40px;
}

@media (max-width: 768px) {
  .industries-wrapper {
    width: 85%;
    height: auto;
    aspect-ratio: 1.05/1;
  }

  .industry-card,
  .center-circle {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }

  .industry-card h4 {
    font-size: 8px;
    font-weight: 600;
    margin-bottom: 1px;
  }

  .industry-card p {
    font-size: 6px;
  }

  .industry-icon-box {
    width: 30%;
  }

  .center-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .top-left {
    top: 20px;
    left:20px
  }

  .top-right {
    top: 20px;
    right: 20px;
  }

  .bottom-left {
    bottom: 20px;
    left: 20px;
  }

  .bottom-right {
    bottom: 20px;
    right: 20px;
  }
}